<form method="post" action="{{ path('recipes.delete', {'id': recipe.id}) }}" onsubmit="return confirm('Êtes-vous de vouloir supprimer cette recette ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recipe.id) }}">
    <button class="btn">Supprimer</button>
</form>
